#hex-box {
  z-index: 4;
  box-shadow: 4px 4px 0px black;
}

#generator-box {
  z-index: 3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
