/* #left-menu > div {
  background-color: white;
  border-right: 5px solid black;
  cursor: pointer;
  transition: ease-out 0.3s;
}

#left-menu > div span {
  transition: ease-out 0.3s;
}

#left-menu > div:hover {
  background-color: black;
  color: white;
}

#left-menu > div:hover span {
  color: var(--blue);
}

#search-box {
  height: 54px;
  border-style: outset;
  border: 3px solid black;
  box-shadow: 4px 4px 0px black;
  border-radius: 10px;
  z-index: 0;
}

#search-box input[type="text"] {
  outline: none;
}

#sign-up-btn {
  width: 165px;
  height: 54px;
  background-color: var(--yellow);
  border: 3px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 10px;
  transition: ease-out 0.3s;
}

#sign-up-btn > button:hover {
  background-color: black;
  color: var(--yellow);
} */

#left-menu > button {
  background-color: white;
  border-right: 5px solid black;
  cursor: pointer;
  transition: ease-out 0.3s;
}

#left-menu > button span {
  transition: ease-out 0.3s;
}

#left-menu > button:hover {
  background-color: black;
  color: white;
}

#left-menu > button:hover span {
  color: var(--blue);
}

#search-box,
#search-box button {
  box-shadow: 4px 4px 0px black;
  transition: ease-out 0.3s;
}

#search-btn:hover #magnifying {
  color: black;
}

#sign-up-btn {
  box-shadow: 4px 4px 0px #000000;
  transition: ease-out 0.3s;
}

#sign-up-btn:hover {
  background-color: black;
}
